*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: auto 1fr;
    font-family: 'Lato', sans-serif;

}

header {
    grid-column: 2/3;
}



nav {
    grid-column: 1/2;
    grid-row: 1 / -1;
    background-color: #3b82f6;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 15px;
    font-weight: bold;
    padding-top: 15px;
}

nav .icon-area {
    display: grid;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns: 48px minmax(250px,1fr);
    grid-template-rows: auto 1fr;
    font-size: 22px;
   
    color: #eff6ff;
   
}

nav .icon-area.dashboard {
    row-gap: 0;
    font-size: 30px;
}
nav a {
    text-decoration: none;
    color: #eff6ff;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 25px;
   
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
 
}

nav .icon{
    fill:  #eff6ff;
    justify-self: center;
}

nav .icon.dashboard-icon {
    width: 48px;
    height: 48px;
}

header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content;
    padding: 20px 80px;
    row-gap: 20px;
    
}

header .icon {
    width: 25px;
    height: 25px;
    display: block;
    justify-self: center;
}

header .search-area {
    grid-column: 1/2;
    display: flex;
    gap: 15px;
    align-items: center;
    
}

header .search-area .search-bar {
    flex: 1;
    border-radius: 50px;
    background-color: lightgrey;
    border: none;
    padding: 3px 20px;
    line-height: 1.5;
    font-size: 16px;
}

header .account-notification-area {
    display: flex;
    grid-column: 2/3;
    justify-self: end;
    align-items: center;
    gap: 25px;
    padding-right: 15px;

}

header .account-notification-area img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

header .account-notification-area p {
    font-weight: 900;
}

header .hello-area{

    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 15px;
  

}

.hello-area .profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.hello-message p {
    font-weight: 800;
}

.hello-message p:nth-child(2) {
    font-size: 25px;
}

.account-buttons {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.account-buttons button {
    background-color: #3b82f6;
    color: #eff6ff;
    border: none;
    border-radius: 45px;
    width: 100px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
}